<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let web of websites">
    <ul>
      <li>
        <a routerLink="/websiteDetail/{{web._id}}">
          <span>{{web.domain}}</span> {{web.status}}
        </a>
        <ul>
          <li *ngFor="let page of web.pages">
            <span>{{page.relativePath}}</span>{{page.status}}
          </li>
        </ul>
      </li>
    </ul>
    <div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<button routerLink="/dashboard">Back</button>
