<div *ngIf="website" id="full-dialog">
  <h1 mat-dialog-title>{{ website.domain }}</h1>
  <div class="wrapper" mat-dialog-content>
    <div class="info">
      <div class="entry">
        <h2>Estado: </h2><span>{{ website.status }}</span>
      </div>
      <div class="entry">
        <h2>Registo: </h2><span>{{ website.registryDate | date:"short" }}</span><br>
      </div>
      <div class="entry">
        <h2>Última Avaliação: </h2><span>{{ (website.lastEvaluationDate | date:"short") || "N/A" }}</span><br>
      </div>
    </div>
    <div class="page-list">
      <mat-accordion *ngIf="website.pages.length !== 0">
        <mat-expansion-panel *ngFor="let page of website.pages">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ website.domain + page.relativePath }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="entry">
            <h4>Estado: </h4><span>{{ page.status }}</span><br>
          </div>
          <div class="entry">
            <h4>Última avaliação: </h4><span>{{ (page.lastEvaluationDate | date:"short") || "N/A" }}</span><br>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <h3 *ngIf="website.pages.length === 0">Nenhuma página associada a este website</h3>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button (click) ="removeWebsite(website)" color="primary" mat-dialog-close mat-raised-button>Eliminar</button>
    <button color="primary" mat-dialog-close mat-raised-button>Fechar</button>
  </mat-dialog-actions>
</div>
